.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #b80b2c;
  color: white;
}

.navbar span {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar span:hover {
  cursor: pointer;
  color: pink;
}

.link-active {
  color: pink;
}

.content-container {
  margin: 2rem 6rem 2rem 4rem;
}
