@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap%27');

.card {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-fields-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  max-width: 40rem;
  justify-content: center;
}

button {
  background-color: pink;
}

h4 span:hover {
  cursor: pointer;
  color: #b80b2c;
}

#logo {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  margin-bottom: 0;
}

#message {
  font-family: 'Courier Prime', monospace;
}
