.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filter-link {
  margin: 0 1rem 0 1rem;
  font-size: 20px;
}

.filter-link:hover {
  text-decoration: underline;
}

.active-filter-link {
  margin: 0 1rem 0 1rem;
  font-size: 20px;
  text-decoration: underline;
}

#bottom-card {
  margin-top: 2rem;
}

.row {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0;
}

.search-bar-field {
  width: 50%;
  height: 2rem;
  border-radius: 50px;
  border: 1px solid black;
  margin-bottom: 1rem;
}

.search-bar-field:hover {
  transform: scale(1.1);
}

.search-bar-field:focus {
  background-color: lightgray;
  transform: scale(1.1);
}
