.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filter-link {
  margin: 0 1rem 0 1rem;
  font-size: 20px;
}

.filter-link:hover {
  text-decoration: underline;
}

.active-filter-link {
  margin: 0 1rem 0 1rem;
  font-size: 20px;
  text-decoration: underline;
}

#bottom-card {
  margin-top: 2rem;
}

.row {
  display: flex;
  justify-content: center;
}
