<mat-card *ngIf="!isLoading" class="cart-container">
  <div *ngIf="fragrances.length > 0" style="width: 49%">
    <form [formGroup]="confirmationForm">
      <div class="form-fields-container">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>

        <button
          mat-raised-button
          [disabled]="!email || !firstName || !lastName || !address"
          (click)="handleBuy()"
        >
          Buy
        </button>
      </div>
    </form>
  </div>
  <div style="width: 50%" *ngIf="fragrances.length > 0">
    <app-fragrance-cart-item *ngFor="let fragrance of fragrances" [fragrance]="fragrance" [userId]="userId" (refreshEvent)="getFragrancesList()"></app-fragrance-cart-item>
    <div [formGroup]="discount" class="discount-container">
      <mat-form-field>
        <mat-label>Discount code</mat-label>
        <input matInput formControlName="code" type="text">
      </mat-form-field>
      <button
        mat-raised-button
        matTooltip="Apply discount code"
        [disabled]="(codeField!.value === '')"
      ><mat-icon>check</mat-icon></button>
      <button mat-raised-button matTooltip="Remove discount code"><mat-icon>close</mat-icon></button>
    </div>
    <h4>Total: {{totalCost}} RON</h4>
  </div>

  <h4 *ngIf="fragrances.length === 0">Shopping cart is empty.</h4>
</mat-card>
