<div style="width: 100%; display: flex; align-items: center; justify-content: space-evenly">
  <div>
    <img src="../../../assets/aboutus.png" alt="us">
  </div>
  <div style="width: 30%">
    <h4>Scentsational - scents that make you smell sensational</h4>
    <p>Born from a passion for perfumes, beauty and luxury, Scentsational store begins its story as an online fragrance retailer in 2022, enjoying real success.</p>
    <p>Our aim is to make luxury and mainstream fragrances affordable and accessible.</p>
    <p>We showcase 15 fragrance brands, all of which are available to browse online at your own leisure.</p>
    <p>Whether you're looking to treat yourself or searching for the perfect gift, this is the right place for you. We are a young, dynamic team, committed to ensuring you enjoy shopping with us.</p>
    <p>Our company's policy is based on respect for the client and our involvement in choosing the product that best suits the client's requirements and budget. The products are delivered as quickly as possible and in the best conditions.</p>
    <p>Your suggestions play an important role in our development efforts, so we encourage you to send us comments and suggestions at our e-mail address.</p>
    <p>Thank you for your visit. We look forward to seeing you again!</p>
    <p>Dean Crainic, Ana Maghear, Diana Boaca</p>
  </div>
  <div>
    <h4>Contact info</h4>
    <p>Email: scentsational@corporation.com</p>
    <p>Phone: 031 22 94 544</p>
    <p>HQ adress: Sos. Pipera nr. 49, sector 2, Bucharest, Romania</p>
  </div>
</div>
