.preview-content {
  display: flex;
  align-items: center;
}

.text {
  margin-left: 2rem;
}

button {
  padding: 10px;
  background-color: pink;
}

#preview {
  width: 4rem;
  height: 8rem;
}

.form {
  display: flex;
  align-items: flex-start;
}
