@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap%27');

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filter-link {
  margin: 0 1rem 0 1rem;
  font-family: 'Courier Prime', monospace;
  font-size: 24px;
}

.filter-link:hover {
  color: #C3B1E1;
  cursor: pointer;
}

.active-filter-link {
  margin: 0 1rem 0 1rem;
  color: #C3B1E1;
  font-family: 'Courier Prime', monospace;
  font-size: 24px;
}

.active-filter-link:hover {
  cursor: pointer;
}

#bottom-card {
  margin-top: 2rem;
}

.row {
  display: flex;
  justify-content: center;
}
